.venv/
venv/
env/

*.sqlite3
*.db
.env
.env.*
!.env.example
media/
staticfiles/
static_root/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
local_settings.py
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
Desktop.ini
theme/static/css/dist/styles.css
